# Pandas 정리
Pandas의 공식 문서를 보고 정리합니다.

- [유저 가이드](https://pandas.pydata.org/docs/user_guide/index.html)
- [API 레퍼런스](https://pandas.pydata.org/docs/reference/index.html)

### 10 minutes  to pandas 따라하기

In [1]:
import numpy as np
import pandas as pd

# 넘파이와 시리즈 호환
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

# 넘파이와 Dataframe 호환
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.336836  0.517867 -2.203390 -0.666665
2013-01-02  0.867998 -0.624793 -0.620770  0.015906
2013-01-03 -0.213117 -1.162015  0.494309  1.797408
2013-01-04 -0.752935  0.359355 -1.930304 -1.062063
2013-01-05  2.090724  0.178591 -0.164987 -0.113822
2013-01-06 -0.317792  0.041199  1.124161 -0.091447

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046
2013-01-02  0.271589 -1.004031 -0.938170  1.916114
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018
2013-01-04 -1.333940  1.892076  0.571904  1.772800
2013-01-05  2.676493 -0.603042 -0.762182  0.462667
2013-01-06  1.303052  0.764967  0.449316 -0.587720

In [4]:
# 쉽게 딕셔너리에서 컨버트할 수 있음
df2 = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [6]:
# 위에서부터 몇개
df.head(2)

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046
2013-01-02  0.271589 -1.004031 -0.938170  1.916114

In [7]:
# 아래서부터 몇개
df.tail(2)

                   A         B         C         D
2013-01-05  2.676493 -0.603042 -0.762182  0.462667
2013-01-06  1.303052  0.764967  0.449316 -0.587720

In [8]:
# 인덱스를 출력해줌
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
# NumPy Array로 변경해준다
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [11]:
# 빠르게 Dataframe의 statistics를 보여준다
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.379515 -0.361010  0.116617  0.740481
std    1.438918  1.523642  0.759938  1.005446
min   -1.333940 -2.524831 -0.938170 -0.587720
25%   -0.512741 -0.925824 -0.459308  0.039903
50%    0.168458 -0.647122  0.509688  0.721356
75%    1.045186  0.422965  0.571443  1.574612
max    2.676493  1.892076  0.808774  1.916114

In [12]:
# 전치행렬 (넘파이와 같음)
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.065328    0.271589   -0.705430   -1.333940    2.676493    1.303052
B   -2.524831   -1.004031   -0.691201    1.892076   -0.603042    0.764967
C    0.808774   -0.938170    0.570060    0.571904   -0.762182    0.449316
D    0.980046    1.916114   -0.101018    1.772800    0.462667   -0.587720

In [13]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.980046  0.808774 -2.524831  0.065328
2013-01-02  1.916114 -0.938170 -1.004031  0.271589
2013-01-03 -0.101018  0.570060 -0.691201 -0.705430
2013-01-04  1.772800  0.571904  1.892076 -1.333940
2013-01-05  0.462667 -0.762182 -0.603042  2.676493
2013-01-06 -0.587720  0.449316  0.764967  1.303052

In [14]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046
2013-01-02  0.271589 -1.004031 -0.938170  1.916114
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018
2013-01-05  2.676493 -0.603042 -0.762182  0.462667
2013-01-06  1.303052  0.764967  0.449316 -0.587720
2013-01-04 -1.333940  1.892076  0.571904  1.772800

Selection

In [15]:
df['A']

2013-01-01    0.065328
2013-01-02    0.271589
2013-01-03   -0.705430
2013-01-04   -1.333940
2013-01-05    2.676493
2013-01-06    1.303052
Freq: D, Name: A, dtype: float64

In [16]:
df[0:3]

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046
2013-01-02  0.271589 -1.004031 -0.938170  1.916114
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018

In [17]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.271589 -1.004031 -0.938170  1.916114
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018
2013-01-04 -1.333940  1.892076  0.571904  1.772800

In [18]:
# 아래에 loc에 대한 설명이 나와있다. 필요한 데이터만 추출할 때 유용하게 사용할 수 있을 듯 하다
# https://m.blog.naver.com/wideeyed/221964700554
# 아래는 시리즈
df.loc[dates[0]]

A    0.065328
B   -2.524831
C    0.808774
D    0.980046
Name: 2013-01-01 00:00:00, dtype: float64

In [19]:
# 아래는 데이터프레임
df.loc[[dates[0]]]

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046

In [20]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.065328 -2.524831
2013-01-02  0.271589 -1.004031
2013-01-03 -0.705430 -0.691201
2013-01-04 -1.333940  1.892076
2013-01-05  2.676493 -0.603042
2013-01-06  1.303052  0.764967

In [21]:
df.loc['20130102':'20130104', ['A','B']]

                   A         B
2013-01-02  0.271589 -1.004031
2013-01-03 -0.705430 -0.691201
2013-01-04 -1.333940  1.892076

In [22]:
df.loc['20130102', ['A', 'B']]

A    0.271589
B   -1.004031
Name: 2013-01-02 00:00:00, dtype: float64

In [23]:
# 시리즈에서 A 추출
# 이는 스칼라를 추출하는 것,
df.loc[dates[0], 'A']

0.06532794419662766

In [24]:
# 스칼라는 at메소드를통해 구하면 더 빠르게 구할 수 있다
df.at[dates[0], 'A']

0.06532794419662766

In [25]:
# Selection By Position
# 숫자를 이용해 선택하기
df.iloc[3]

A   -1.333940
B    1.892076
C    0.571904
D    1.772800
Name: 2013-01-04 00:00:00, dtype: float64

In [26]:
# 역시 동일하게 배열이 아닌 값으로 넣으면 시리즈가 나오고
# 배열을 넣으면 Dataframe으로 값이 나옴
df.iloc[[3]]

                  A         B         C       D
2013-01-04 -1.33394  1.892076  0.571904  1.7728

In [27]:
# 정수로 슬라이싱
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.333940  1.892076
2013-01-05  2.676493 -0.603042

In [28]:
# 특정 위치 가져오기
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.271589 -0.938170
2013-01-03 -0.705430  0.570060
2013-01-05  2.676493 -0.762182

In [29]:
# 명시적 슬라이싱
df.iloc[1:3,:]

                   A         B        C         D
2013-01-02  0.271589 -1.004031 -0.93817  1.916114
2013-01-03 -0.705430 -0.691201  0.57006 -0.101018

In [30]:
# 명시적 슬라이싱
df.iloc[:,1:3]

                   B         C
2013-01-01 -2.524831  0.808774
2013-01-02 -1.004031 -0.938170
2013-01-03 -0.691201  0.570060
2013-01-04  1.892076  0.571904
2013-01-05 -0.603042 -0.762182
2013-01-06  0.764967  0.449316

In [31]:
# 스칼라(값) 얻기
df.iloc[1,1]

-1.004031107681197

In [32]:
# 역시 at더 빠름
df.iat[1,1]

-1.004031107681197

In [33]:
# 조건주기, 열 A에 대한
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.065328 -2.524831  0.808774  0.980046
2013-01-02  0.271589 -1.004031 -0.938170  1.916114
2013-01-05  2.676493 -0.603042 -0.762182  0.462667
2013-01-06  1.303052  0.764967  0.449316 -0.587720

In [34]:
# 전체 데이터프레임에 대한 조건주기
df[df > 0]

                   A         B         C         D
2013-01-01  0.065328       NaN  0.808774  0.980046
2013-01-02  0.271589       NaN       NaN  1.916114
2013-01-03       NaN       NaN  0.570060       NaN
2013-01-04       NaN  1.892076  0.571904  1.772800
2013-01-05  2.676493       NaN       NaN  0.462667
2013-01-06  1.303052  0.764967  0.449316       NaN

In [35]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'five']
df2

                   A         B         C         D      E
2013-01-01  0.065328 -2.524831  0.808774  0.980046    one
2013-01-02  0.271589 -1.004031 -0.938170  1.916114    one
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018    two
2013-01-04 -1.333940  1.892076  0.571904  1.772800  three
2013-01-05  2.676493 -0.603042 -0.762182  0.462667   four
2013-01-06  1.303052  0.764967  0.449316 -0.587720   five

In [36]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018   two
2013-01-05  2.676493 -0.603042 -0.762182  0.462667  four

In [37]:
# 시리즈에 인덱스를 주면 인덱스로 자동정렬
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [38]:
df['F'] = s1

In [39]:
# label로 값 설정
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000 -2.524831  0.808774  0.980046  NaN
2013-01-02  0.271589 -1.004031 -0.938170  1.916114  1.0
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018  2.0
2013-01-04 -1.333940  1.892076  0.571904  1.772800  3.0
2013-01-05  2.676493 -0.603042 -0.762182  0.462667  4.0
2013-01-06  1.303052  0.764967  0.449316 -0.587720  5.0

In [40]:
# 위치로 값 설정
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.808774  0.980046  NaN
2013-01-02  0.271589 -1.004031 -0.938170  1.916114  1.0
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018  2.0
2013-01-04 -1.333940  1.892076  0.571904  1.772800  3.0
2013-01-05  2.676493 -0.603042 -0.762182  0.462667  4.0
2013-01-06  1.303052  0.764967  0.449316 -0.587720  5.0

In [41]:
# at메소드가 아닌 loc메소드로도 값 대입 가능
df.iloc[0, 2] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.000000  0.980046  NaN
2013-01-02  0.271589 -1.004031 -0.938170  1.916114  1.0
2013-01-03 -0.705430 -0.691201  0.570060 -0.101018  2.0
2013-01-04 -1.333940  1.892076  0.571904  1.772800  3.0
2013-01-05  2.676493 -0.603042 -0.762182  0.462667  4.0
2013-01-06  1.303052  0.764967  0.449316 -0.587720  5.0

In [42]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.000000  5  NaN
2013-01-02  0.271589 -1.004031 -0.938170  5  1.0
2013-01-03 -0.705430 -0.691201  0.570060  5  2.0
2013-01-04 -1.333940  1.892076  0.571904  5  3.0
2013-01-05  2.676493 -0.603042 -0.762182  5  4.0
2013-01-06  1.303052  0.764967  0.449316  5  5.0

In [43]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.000000 -5  NaN
2013-01-02 -0.271589 -1.004031 -0.938170 -5 -1.0
2013-01-03 -0.705430 -0.691201 -0.570060 -5 -2.0
2013-01-04 -1.333940 -1.892076 -0.571904 -5 -3.0
2013-01-05 -2.676493 -0.603042 -0.762182 -5 -4.0
2013-01-06 -1.303052 -0.764967 -0.449316 -5 -5.0

In [44]:
# 결측치는 np.nan으로 표현된다. 계산에는 포함되지 않는다.
# Reindexing을 통해 인덱스를 변경 가능하다
df1 = df.reindex(index=dates[0:4], columns=['A', 'B', 'C', 'D'] + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    E
2013-01-01  0.000000  0.000000  0.000000  5  1.0
2013-01-02  0.271589 -1.004031 -0.938170  5  1.0
2013-01-03 -0.705430 -0.691201  0.570060  5  NaN
2013-01-04 -1.333940  1.892076  0.571904  5  NaN

In [45]:
# 결측치가 있는 행을 지운다
df1.dropna(how='any')

                   A         B        C  D    E
2013-01-01  0.000000  0.000000  0.00000  5  1.0
2013-01-02  0.271589 -1.004031 -0.93817  5  1.0

In [46]:
# 결측치를 채운다
df1.fillna(value=5)

                   A         B         C  D    E
2013-01-01  0.000000  0.000000  0.000000  5  1.0
2013-01-02  0.271589 -1.004031 -0.938170  5  1.0
2013-01-03 -0.705430 -0.691201  0.570060  5  5.0
2013-01-04 -1.333940  1.892076  0.571904  5  5.0

In [47]:
# Boolean Dataframe을 얻는다. 결측치가 있는 스칼라는 True가 됨
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [48]:
# Operation

# mean메소드, 파라미터로 axis가 들어감 default는 axis=0
df.mean() # Series

A    0.368627
B    0.059795
C   -0.018179
D    5.000000
F    3.000000
dtype: float64

In [49]:
df.mean(axis=1)

2013-01-01    1.250000
2013-01-02    0.865878
2013-01-03    1.234686
2013-01-04    1.826008
2013-01-05    2.062254
2013-01-06    2.503467
Freq: D, dtype: float64

In [50]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [51]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.000000  5  NaN
2013-01-02  0.271589 -1.004031 -0.938170  5  1.0
2013-01-03 -0.705430 -0.691201  0.570060  5  2.0
2013-01-04 -1.333940  1.892076  0.571904  5  3.0
2013-01-05  2.676493 -0.603042 -0.762182  5  4.0
2013-01-06  1.303052  0.764967  0.449316  5  5.0

In [52]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.705430 -1.691201 -0.429940  4.0  1.0
2013-01-04 -4.333940 -1.107924 -2.428096  2.0  0.0
2013-01-05 -2.323507 -5.603042 -5.762182  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [53]:
# Apply 메소드, 데이터에 함수를 적용한다
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.000000   5   NaN
2013-01-02  0.271589 -1.004031 -0.938170  10   1.0
2013-01-03 -0.433841 -1.695232 -0.368110  15   3.0
2013-01-04 -1.767781  0.196844  0.203795  20   6.0
2013-01-05  0.908712 -0.406198 -0.558387  25  10.0
2013-01-06  2.211765  0.358769 -0.109072  30  15.0

In [54]:
df.apply(lambda x : x.max() - x.min())

A    4.010433
B    2.896107
C    1.510074
D    0.000000
F    4.000000
dtype: float64

In [55]:
# 히스토그래밍
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    3
1    4
2    0
3    4
4    0
5    6
6    3
7    3
8    6
9    2
dtype: int64

In [56]:
s.value_counts()

3    3
6    2
4    2
0    2
2    1
dtype: int64

In [57]:
# String method
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [58]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

df.style.apply(highlight_max)