# Pandas 정리
Pandas의 공식 문서를 보고 정리합니다.

- [유저 가이드](https://pandas.pydata.org/docs/user_guide/index.html)
- [API 레퍼런스](https://pandas.pydata.org/docs/reference/index.html)

### 10 minutes  to pandas 따라하기

In [1]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.303555  0.991681  0.709899  0.080508
2013-01-02  1.513509  0.723082  1.424542  1.339519
2013-01-03 -0.289588  1.122373  0.477732  0.842053
2013-01-04  1.744145 -0.140548  1.358933  0.335175
2013-01-05  1.964311 -0.846902  1.517334  0.322594
2013-01-06 -0.003133  0.452804  1.216031  1.181841